# Ignore bundler config.
/.bundle

*.idea
*.sw*
# ignore rvm version files
.ruby-*
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# ignore simplecov html coverage reports
coverage
